@charset "utf-8";

@import "normalize-rails";
@import "bourbon";
@import "base/grid-settings";
@import "neat";
@import "base/base";
@import "refills/flashes";

div.container {
  @include outer-container;

  div.main {
    @include span-columns(8);

    div.spotlight {
      @include span-columns(6 of 8);
    }
  }
}
